.favoritesComponent {

    text-align: center;
    box-sizing: border-box;
    font-family: 'Patua One', cursive;
    font-size: 20px;
    padding: 7vh;
    
}

#singleFavorite{
    /* border: 1px solid black; */
    display: inline-block;
    cursor: pointer;
    max-width: 210px;
    min-width: 210px;
    margin-top: 1.5vh;
    /* margin-left: auto;
    margin-right: auto; */
}

#favoritesArea{
    text-align: center;
}

.card{
    
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.24), 0 4px 7px 0 rgba(0,0,0,0.19);
}

.card:hover{
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 8px 15px 0 rgba(0,0,0,0.19);
    transition: 0.4.5s;
}



